
body {
  font-family: 'Montserrat', sans-serif;
  /* color: #474647; */
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
}


.navigation {
  margin: 2.5rem 0rem;
  position: relative;
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.main-index {
  text-align: center;
  margin: 5rem 0rem;
  padding: 1rem;
  position: relative;
  z-index: 2;
}

.intro-heading {
  margin: 2rem 0rem;
  font-family: 'peace_sansregular';
  text-decoration: underline;
  text-decoration-color: #E4892E;
  text-underline-offset: 0.6rem
}

.intro-heading h1 {
  font-size: 3.5rem;
}


.intro-main h4 {
  margin: 1rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.intro-main h5 {
  font-size: 1.4rem;
  font-weight: 300;

}




@font-face {
  font-family: 'peace_sansregular';
  src: url('http://127.0.0.1:5000/static/files/fonts/peace_sans-webfont.woff2') format('woff2'),
       url('http://127.0.0.1:5000/static/files/fonts/peace_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
