{% include "header.html" %}


  <!-- Main Content -->
  <div class="container-fluid main-index">
    <div class="row intro-heading">
      <div class="col">
        <h1>hello, my name is James.</h1>
      </div>
    </div>
    <div class="row intro-main">
      <div class="col">
        <h4>I am a devops engineer based in Canberra, AUS.</h4>
        <h5>Currently working at Datacom Australia helping folks</h5>
        <h5>develop fast and efficiently in the cloud.</h5>
      </div>
    </div>
  </div>


{% include "footer.html" %}